*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bubblemon-applet
bubblemon-*.tar.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
stamp-h1
**/.deps/
man/bubblemon*.1
man/hu/bubblemon*.1
man/sv/bubblemon*.1
osx/bubblemon.xcodeproj/**/xcuserdata
packaging/bubblemon-applet.spec
panel/bonobo/GNOME_BubblemonApplet.server
panel/bonobo/GNOME_BubblemonApplet.server.in
panel/dbus/*@.in
panel/org.*
panel/**/*.o
po/.intltool-merge-cache
po/bubblemon.pot
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/*.gmo
po/stamp-it
src/*.o
src/.deps/
osx/bubblemon.xcodeproj/**/xcuserdata
osx/window-frame.blend[0-9]
bubblemon.xccheckout
xctool.log
